.sidebar img {
    width: 50px;
    /* adjust size as needed */
    height: auto;
}

.sidebar .ms-2 div {
    font-size: 21px;
    /* adjust font size as needed */
    /* text-transform: uppercase; */
    /* makes text uppercase */
}

.logotext {
    color: #555555;
    font-weight: inherit;

}

.tlogo {
    color: gray;
}

/* Add your custom styles here */
/* Add your custom styles here */
.toggle-button {
    background-color: rgb(90, 90, 165);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;

}

.toggle-icon {
    color: rgb(236, 235, 247);
    font-size: 18px;
    transition: transform 0.3s;
}

.sidebar.collapsed .toggle-icon {
    transform: rotate(180deg);
}

/* Add your custom styles here */
.nav-link.active {
    background-color: #e9ecef;
    /* Change background color as desired */
    color: #000;
    /* Change text color as desired */
    font-weight: bold;
    /* Make the text bold */
    padding: 0.5rem 2rem;
    /* Adjust padding as desired */
    border-radius: 0.25rem;
    /* Add some border radius */
}